.wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
  margin-bottom: 0;
  color: #87868c;
}

.or-line {
  width: 12rem;
  height: 0.1rem;
  background-color: #87868c;
  margin: 0 1rem 0 1rem;
}
